<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.EugeneStudio.apartmentWebsite.mapper.DonatorMapper" >
  <resultMap id="BaseResultMap" type="com.EugeneStudio.apartmentWebsite.model.Donator" >
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.EugeneStudio.apartmentWebsite.model.Donator" >
    insert into donator (first_name, last_name, card_type, 
      card_number, code, amount, 
      email)
    values (#{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{cardNumber,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.EugeneStudio.apartmentWebsite.model.Donator" >
    insert into donator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="firstName != null" >
        first_name,
      </if>
      <if test="lastName != null" >
        last_name,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="cardNumber != null" >
        card_number,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="firstName != null" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>